/* this is where all of your CSS styles go */

.container{
    width: 1600px;
    height: 400px;
}

.white{
    width: 1600px;
    height: 200px;
    background-color: white;
}

.black {
    width: 1600px;
    height: 400px;
    background-color: #000032;
    position: absolute;
    top: 400px;
}

@keyframes whole_word {
    0% { color: #000032; top: 25px; left: 100px; transform: rotate(0deg);}
    50% { top: 800px; left: 750px;}
    100% {color: white; transform: rotate(180deg); top: 800px; left: 750px;}

}

.word {
 position: relative;
    top: 25px;
    left: 100px;
    z-index: 1;
    animation: whole_word 5s linear;
    animation-fill-mode: forwards;
    transform-origin: 20% 40%;
    animation-delay: 1s;
}

.mono {
    font-family: 'Major Mono Display', monospace;
    font-size: 6em;
    float: left;
}

@keyframes move_b{
    0% {transform: rotate (0deg);}
    50% { transform: rotate(0deg);}
    90%,100% { transform: rotate(180deg);}

}


.b{
    animation: move_b 5s linear;
    animation-fill-mode: forwards;
}

@keyframes move_u{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(0deg);}
    90%,100% {transform: rotate(180deg);}

}

.u{
    animation: move_u 5s;
    animation-fill-mode: forwards;
}

@keyframes move_s {
    0% {transform: rotate(0deg);}
    50% { transform: rotate(0deg);}
    90%,100% { transform: rotate(180deg);}
}

.s{
    animation: move_s 5s linear;
    animation-fill-mode: forwards;
}